In [1]:
pip install mysql-connector

Requirement already satisfied: mysql-connector in /home/elena_craven/anaconda3/lib/python3.12/site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /home/elena_craven/anaconda3/lib/python3.12/site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
# Importar librería para la conexión con MySQL.
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode


# Importar librerías para manipulación y análisis de datos.
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

In [9]:
# Hacemos un try except para manejar los errores.
try:
  cnx = mysql.connector.connect(
                               user='root', 
                               password='AlumnaAdalab',
                               host='127.0.0.1')
  
# Introducimos el except en caso de que hubiera un error.
except mysql.connector.Error as err:

  # Si es un error con la contraseña devuelveme un mensaje de acceso denegado ya que tenemos problemas con la contraseña.
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  
  # Si el error no tiene que ver con la contraseña, puede ser porque la base de datos no exista, devuelveme un mensaje de que la base de datos no existe.
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  
  # Si no es por ninguno de los errores anteriores, printeame cual es el error que estoy teniendo en mi conexión.
  else:
    print(err)

mycursor = cnx.cursor()

try:
    mycursor.execute("CREATE DATABASE cinEMAdata")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

cnx.close()

1007 (HY000): Can't create database 'cinemadata'; database exists
Error Code: 1007
SQLSTATE HY000
Message Can't create database 'cinemadata'; database exists

In [17]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='cinEMAdata')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE TABLE peliculas_generos (titulo VARCHAR(250) NOT NULL, id VARCHAR(50) NOT NULL PRIMARY KEY, tipo VARCHAR(50), año VARCHAR(50), genero VARCHAR(50) NOT NULL)")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

CMySQLCursor: CREATE TABLE peliculas_generos (titulo V..

In [29]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='cinEMAdata')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE TABLE datos_oscars (ceremonia VARCHAR(50) PRIMARY KEY NOT NULL, mejor_pelicula VARCHAR(250) NOT NULL, mejor_director VARCHAR(100) NOT NULL, mejor_actor VARCHAR(100) NOT NULL, mejor_actriz VARCHAR(100) NOT NULL)")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

CMySQLCursor: CREATE TABLE datos_oscars (ceremonia VAR..

In [21]:
import csv
import mysql.connector

# Nombre del archivo CSV.
csv_file = 'peliculas_generos.csv'

# Conexión a la base de datos MySQL.
# Hacemos un try except para manejar los errores.
try:
  cnx = mysql.connector.connect(
                               user='root', 
                               password='AlumnaAdalab',
                               host='127.0.0.1',
                               database='cinEMAdata')
  
# Introducimos el except en caso de que hubiera un error.
except mysql.connector.Error as err:

  # Si es un error con la contraseña devuelveme un mensaje de acceso denegado ya que tenemos problemas con la contraseña.
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  
  # Si el error no tiene que ver con la contraseña, puede ser porque la base de datos no exista, devuelveme un mensaje de que la base de datos no existe.
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  
  # Si no es por ninguno de los errores anteriores, printeame cual es el error que estoy teniendo en mi conexión.
  else:
    print(err)
    
mycursor = cnx.cursor()

# Consulta SQL para insertar los datos (ajusta los nombres de las columnas).
sql = """
    INSERT INTO peliculas_generos (titulo, id, tipo, año, genero)
    VALUES (%s, %s, %s, %s, %s)
"""

with open(csv_file, 'r') as csvfile:
    csvreader = csv.reader(csvfile)
    # Saltar la primera línea si contiene encabezados.
    next(csvreader)


# Ejecutar la consulta SQL con los datos de cada fila
mycursor.execute(sql, cnx)

# Confirmar los cambios.
cnx.commit()

# Cerrar la conexión.
mycursor.close()
cnx.close()

In [31]:
import csv
import mysql.connector

# Nombre del archivo CSV.
csv_file = 'datos_oscars.csv'

# Conexión a la base de datos MySQL.
# Hacemos un try except para manejar los errores.
try:
  cnx = mysql.connector.connect(
                               user='root', 
                               password='AlumnaAdalab',
                               host='127.0.0.1',
                               database='cinEMAdata')
  
# Introducimos el except en caso de que hubiera un error.
except mysql.connector.Error as err:

  # Si es un error con la contraseña devuelveme un mensaje de acceso denegado ya que tenemos problemas con la contraseña.
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  
  # Si el error no tiene que ver con la contraseña, puede ser porque la base de datos no exista, devuelveme un mensaje de que la base de datos no existe.
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  
  # Si no es por ninguno de los errores anteriores, printeame cual es el error que estoy teniendo en mi conexión.
  else:
    print(err)
    
mycursor = cnx.cursor()

# Consulta SQL para insertar los datos (ajusta los nombres de las columnas).
sql = """
    INSERT INTO datos_oscars (ceremonia, mejor_pelicula, mejor_director, mejor_actor, mejor_actriz)
    VALUES (%s, %s, %s, %s, %s)
"""

with open(csv_file, 'r') as csvfile:
    csvreader = csv.reader(csvfile)
    # Saltar la primera línea si contiene encabezados.
    next(csvreader)
    datos = [tuple(row) for row in csvreader]


# Ejecutar la inserción. 
mycursor.executemany(sql, datos)

# Confirmar los cambios.
cnx.commit()

# Cerrar la conexión.
mycursor.close()
cnx.close()

APUNTES: actualizar registros - quizas no lo usemos porque los datos de los registros nos vienen dados por la extraccion

In [ ]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='cinEMAdata')


mycursor = cnx.cursor()
sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"
try:
    mycursor.execute(sql)
    cnx.commit()
    print(mycursor.rowcount, "registro/s modificado/s.")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

Crear un DataFrame de Pandas desde una sentencia SQL:

In [ ]:
# hacemos la conexión con el servidor
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='tienda')

# iniciamos el cursor
mycursor = cnx.cursor()

# ejecutamos nuestra query
mycursor.execute("SELECT * FROM employees")

# le decimos que nos devuelva todos los resultados y los almacenamos en una variable llamada myresult
myresult = mycursor.fetchall()

#Creamos un dataframe con los resultados de la consulta SQL almacenados en myresult. Si os fijais le estamos pasando un parámetro llamado "columns" donde estamos especificando cuáles son las columnas de lo que será nuestro dataframe
df = pd.DataFrame(myresult, columns = ['ID', 'Nombre', 'Apellido','Email','Telefono','Direccion','Ciudad','Pais'])

#Cerramos la conexion
cnx.close()

Otra opción más directa para ver los resultados de nuestra query en un DataFrame consiste en encargarle a Pandas directamente la ejecución de la consulta SQL. Para ello usaremos el método *read_sql_query()* como vemos a continuación:

In [ ]:
# realizamos la conexión con el servidor
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='tienda')


# escribimos nuestra query
sql = "SELECT * FROM employees"

# utilizamos el método pd.read_sql_qury() para convertir los resultados de nuestra query en un DataFrame que podamos ver de forma amigable en Python
df = pd.read_sql_query(sql, cnx)

#Lo siguiente es un wrap up que funciona tanto con una tabla como con una consulta SQL.
pd.read_sql(sql, cnx)

#Cerramos la conexion
cnx.close()